.inner-box.keynote {
  background-color: #fffbed;
}

.inner-box.workshop {
  background-color: #dbe3de;
}

.inner-box.sponsor {
  background-color: #e4e5ff;
}

.inner-box.keynote .btn-box a,
.inner-box.workshop .btn-box a,
.inner-box.sponsor .btn-box a {
  border: 1px solid gray;
}

.inner-box.keynote ul.shedule-info li:not(:last-child),
.inner-box.workshop ul.shedule-info li:not(:last-child),
.inner-box.sponsor ul.shedule-info li:not(:last-child) {
  border-right: 2px solid lightgray;
}

.shedule-tabs li.tab-btn::marker {
  content: none;
}

nav.main-menu ul.navigation li::marker {
  content: none;
}

.shedule-tabs .tab-buttons li.tab-btn:hover {
  background-color: #ffc600;
}

.call-to-action .title {
  font-size: 25px;
}

.btn-box {
  width: 180px;
}

.shedule-block .btn-box a {
  padding: 0;
  line-height: 20px;
  font-size: 15px;
  display: block;
  text-align: center;
}

.shedule-block .btn-box .btn-style-three {
  padding: 15px;
}

.side-link {
  margin-top: 1rem;
}

.btn-box .side-link a {
  font-size: 16px;
}

.btn-box .side-link a:hover {
  box-shadow: none;
  color: #222222;
}

.inner-box .btn-box .side-link a {
  border: none;
}

.youtube-link a {
  color: #f61500;
}

.discord-link a {
  color: #6e85d3;
}

.slides-link a {
  color: #155e31;
}

.btn-box.contact {
  width: auto;
}

#signup a:hover {
  color: #31d84e;
}
