.inner-box.keynote {
  background-color: #fffbed;
}

.inner-box.workshop {
  background-color: #dbe3de;
}

.inner-box.sponsor {
  background-color: #e4e5ff;
}

.inner-box.keynote .btn-box a,
.inner-box.workshop .btn-box a,
.inner-box.sponsor .btn-box a {
  border: 1px solid gray;
}

.inner-box.keynote ul.shedule-info li:not(:last-child),
.inner-box.workshop ul.shedule-info li:not(:last-child),
.inner-box.sponsor ul.shedule-info li:not(:last-child) {
  border-right: 2px solid lightgray;
}

.shedule-tabs li.tab-btn::marker {
  content: none;
}

nav.main-menu ul.navigation li::marker {
  content: none;
}

.shedule-tabs .tab-buttons li.tab-btn:hover {
  background-color: #ffc600;
}

.call-to-action .title {
  font-size: 25px;
}
